{% load static %}
{% load dajaxice_templatetags %}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="title" content="dajaxproject.com - Easy to use ajax libraries for django" />
    <meta name="author" content="Jorge Bastida"/>
    <meta name="Description" content="Easy to use ajax libraries for django"/>
    <meta name="Keywords" content="dajax dajaxice django ajax python library framework prototype mootools jquery xajax easy fast"/>
    <meta name="Language" content="English"/>
    <meta name="Revisit-After" content="7 days"/>
    <meta name="distribution" content="Global"/>
    <meta name="Robots" content="INDEX,FOLLOW"/>
    <meta name="verify-v1" content="QkQb7KQ3WgWQoEnlkSB4BGcSJB9e50ru2xUGQk1rD4Q=" />
    <meta name="google-site-verification" content="AZfYpJitSW5RE0B7BB3PRb7E8hqOET3m3ZKLGV304WI" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>dajaxproject.com - {% block title %}easy to use ajax libraries for django{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
    <link href="{% static '/static/libs/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static '/static/css/styles.css' %}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if js_library == 'dojo' %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/dojo/1.8.0/dojo/dojo.js"></script>
    {% else %}
      {% with "libs/"|add:js_library|add:".js" as file %}
      <script type="text/javascript" src="{% static file %}"></script>
      {% endwith %}
    {% endif %}

    {% with "dajax/"|add:js_library|add:".dajax.core.js" as file %}
    <script type="text/javascript" src="{% static file %}"></script>
    {% endwith %}

    {% block extra_head %}{% endblock %}
    {% dajaxice_js_import %}

  </head>

  <body {% block extra_body %}{% endblock %}>

    {% block content %} {% endblock %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10253304-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
